# ===== Python cache & build =====
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.egg
*.egg-info/
*.log

# ===== Virtual environments =====
venv/
env/
.venv/

# ===== IDE / Editor settings =====
.vscode/
.idea/
*.swp
*.swo

# ===== System files =====
.DS_Store
Thumbs.db

# ===== Test reports and temp =====
*.xml
*.json
*.html
*.allure/
reports/
logs/
output/
